@model IEnumerable<EcommerceShop.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="product_list best_seller section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>Our Category</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-12">
                <div class="best_product_slider owl-carousel">
                    @foreach (var item in Model)
                    {
                        <div class="single_product_item">
                            <img src="/Template/@item.CategoryPhoto" alt="">
                            <div class="single_product_text">
                                <h4>@item.CategoryName</h4>
                                <h3>
                                    <a href="~/Products/ProductsByCat/?categoryid=@item.CategoryId">More Product Follow Category</a>
                                </h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
