@model EcommerceShop.Models.Product

<div class="product_image_area section_padding">
    <div class="container">
        <div class="row s_product_inner justify-content-between">
            <div class="col-lg-7 col-xl-7">
                <div class="product_slider_img">
                    <div id="vertical">
                        <div data-thumb="/Template/@Model.ProductPhoto">
                            <img src="/Template/@Model.ProductPhoto" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">

                <div class="s_product_text">
                    <h5>previous <span>|</span> next</h5>
                    <h3>@Model.ProductName</h3>
                    <h2>$@Model.ProductPrice</h2>
                    <ul class="list">
                        <li>
                            <a class="active" href="#">
                                <span>Type</span> : @Model.Category.CategoryName
                            </a>
                        </li>
                        <li>
                            <a href="#"> <span>Color</span> : @Model.Color.ColorName</a>
                        </li>
                    </ul>
                    <p>
                        @Model.ProductDescription
                    </p>
                    <div class="card_area d-flex justify-content-between align-items-center">
                        <div class="product_count">
                            <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                            <input class="input-number" type="text" value="1" min="0" max="10">
                            <span class="number-increment"> <i class="ti-plus"></i></span>
                        </div>
                        <a href="/Cart/AddToCart/?ProductId=@Model.ProductId" class="btn_3">Add to cart</a>
                        <a href="/Products/Index" class="like_us">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
